body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: row;
  #bk-image {
    img {
      width: 60vw;
      height: 100vh;
    }
  }

  #main {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      text-align: center;
      padding-bottom: 45px;
      color: #5884a9;
      font-size: 3rem;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      #check {
        border: 2px solid #44546b !important;
      }
    }

    label {
      color: #081d34;
      font-size: 25px;
    }

    input, select {
      border: 2px solid #44546b !important;
      width: 300px;
      border-radius: 10px;
      height: 35px;
      outline: none;
      color: #5884a9;
      margin-bottom: 45px;
    }

  }
}

#prompt {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;

  div {
    font-size: 20px;
    color: #44546b;
    margin-top: 10px;
  }
}

#btn {
  text-align: center;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  background-image: linear-gradient(0deg, rgba(8,29,52,1) 0%, rgba(68,84,107,1) 100%);
  color: #b1cfe1 !important;
  padding-top: 10px;
  cursor: pointer;
}

#btn:hover {
  background-image: none;
  background-color: #b1cfe1;
  color:#44546b;
}
